In [45]:
import importlib.util
import os
import sys

module_path = os.path.abspath(os.path.join('..', 'src', 'data_loader.py'))

spec = importlib.util.spec_from_file_location("data_loader", module_path)
data_loader = importlib.util.module_from_spec(spec)
sys.modules["data_loader"] = data_loader
spec.loader.exec_module(data_loader)

ratings, items, users = data_loader.load_data()

data_loader.py loaded!
Available names: ['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'load_data', 'os', 'pd']

In [46]:
print("Ratings Data:")
print(ratings.head())

print("\nItems Data:")
print(items.head())

print("\nUsers Data:")
print(users.head())

Ratings Data:
   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

Items Data:
   0                  1            2   3   \
0   1   Toy Story (1995)  01-Jan-1995 NaN
1   2   GoldenEye (1995)  01-Jan-1995 NaN
2   3  Four Rooms (1995)  01-Jan-1995 NaN
3   4  Get Shorty (1995)  01-Jan-1995 NaN
4   5     Copycat (1995)  01-Jan-1995 NaN

                                                  4   5   6   7   8   9   ...  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...   0   0   0   1   1  ...
1  http://us.imdb.com/M/title-exact?GoldenEye%20(...   0   1   1   0   0  ...
2  http://us.imdb.com/M/title-exact?Four%20Rooms%...   0   0   0   0   0  ...
3  http://us.imdb.com/M/title-exact?Get%20Shorty%...   0   1   0   0   0  ...
4  http://us.imdb.com/M/title-exact?Copycat%20(1995)   0   0   0   0   0  ...

   14  15  16  17  18  19  20  21  22  23
0   0   0   0   0   0   0   0   0   0   0
1   0   0   0   0   0   0   0   1   0   0
2   0   0   0   0   0   0   0   1   0   0
3   0   0   0   0   0   0   0   0   0   0
4   0   0   0   0   0   0   0   1   0   0

[5 rows x 24 columns]

Users Data:
   0   1  2           3      4
0  1  24  M  technician  85711
1  2  53  F       other  94043
2  3  23  M      writer  32067
3  4  24  M  technician  43537
4  5  33  F       other  15213

In [47]:
print("\nRatings Info:")
print(ratings.info())

print("\nItems Info:")
print(items.info())

print("\nUsers Info:")
print(users.info())

Ratings Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100000 non-null  int64
 1   item_id    100000 non-null  int64
 2   rating     100000 non-null  int64
 3   timestamp  100000 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB
None

Items Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1682 non-null   int64
 1   1       1682 non-null   object
 2   2       1681 non-null   object
 3   3       0 non-null      float64
 4   4       1679 non-null   object
 5   5       1682 non-null   int64
 6   6       1682 non-null   int64
 7   7       1682 non-null   int64
 8   8       1682 non-null   int64
 9   9       1682 non-null   int64
 10  10      1682 non-null   int64
 11  11      1682 non-null   int64
 12  12      1682 non-null   int64
 13  13      1682 non-null   int64
 14  14      1682 non-null   int64
 15  15      1682 non-null   int64
 16  16      1682 non-null   int64
 17  17      1682 non-null   int64
 18  18      1682 non-null   int64
 19  19      1682 non-null   int64
 20  20      1682 non-null   int64
 21  21      1682 non-null   int64
 22  22      1682 non-null   int64
 23  23      1682 non-null   int64
dtypes: float64(1), int64(20), object(3)
memory usage: 315.5+ KB
None

Users Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       943 non-null    int64
 1   1       943 non-null    int64
 2   2       943 non-null    object
 3   3       943 non-null    object
 4   4       943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB
None

In [48]:
print("\nMissing Values in Ratings:")
print(ratings.isnull().sum())

print("\nMissing Values in Items:")
print(items.isnull().sum())

print("\nMissing Values in Users:")
print(users.isnull().sum())

Missing Values in Ratings:
user_id      0
item_id      0
rating       0
timestamp    0
dtype: int64

Missing Values in Items:
0        0
1        0
2        1
3     1682
4        3
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
dtype: int64

Missing Values in Users:
0    0
1    0
2    0
3    0
4    0
dtype: int64

In [49]:
print("\nBasic Statistics for Ratings:")
print(ratings.describe())

Basic Statistics for Ratings:
            user_id        item_id         rating     timestamp
count  100000.00000  100000.000000  100000.000000  1.000000e+05
mean      462.48475     425.530130       3.529860  8.835289e+08
std       266.61442     330.798356       1.125674  5.343856e+06
min         1.00000       1.000000       1.000000  8.747247e+08
25%       254.00000     175.000000       3.000000  8.794487e+08
50%       447.00000     322.000000       4.000000  8.828269e+08
75%       682.00000     631.000000       4.000000  8.882600e+08
max       943.00000    1682.000000       5.000000  8.932866e+08